#panel .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 6px;
}

#panel .panel-button .system-status-icon {
  margin: 0;
  padding: 0;
}

#panel .panel-button .panel-status-menu-box {
  margin: 0;
  padding: 0;
  spacing: 0;
}

#panel .panel-button .panel-status-indicators-box {
  spacing: 10px;
}

#panel .panel-button .panel-status-indicators-box .popup-menu-arrow {
  width: 12px;
  height: 12px;
}

#panel .popup-menu-arrow {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#panel .window-buttons-box {
  margin-left: 3px;
  margin-right: 3px;
  spacing: 4px;
}

#panel .window-buttons-box:first-child .window-button:first-child {
  padding-left: 0px;
}

#panel .window-buttons-box .window-button {
  width: 18px;
  height: 18px;
}

#panel .window-buttons-box .icon {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

#panel .tray-icons-box {
  spacing: 10px;
}

#panel .desktop-name {
  padding: 0 8px;
}

#panel #appMenu {
  margin-left: 5px;
  margin-right: 5px;
}

#panel #appMenu .popup-menu-arrow {
  margin-left: 5px;
}

#panel #panelApplications,
#panel #panelActivities {
  width: 67px;
}

#panel #panelApplications > *,
#panel #panelActivities > * {
  background-color: transparent;
  color: transparent;
  background-image: url("assets/activities.svg");
  background-position: center;
  background-size: contain;
}

#panel #panelApplications:hover > *,
#panel #panelApplications:active > *,
#panel #panelApplications:focus > *,
#panel #panelActivities:hover > *,
#panel #panelActivities:active > *,
#panel #panelActivities:focus > * {
  background-image: url("assets/activities-active.svg");
}
